/* Reset default margin and padding */
body, h1, p {
  margin: 0;
  padding: 0;
  font-family: 'Century Gothic', sans-serif;
}

/* Style the input field for username */
.username-input {
  width: 100%;
  padding: 10px;
  border: 1px solid black; 
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Century Gothic", sans-serif;
  color: white; 
  padding: 20px;
  text-align: center;
  background-image: url('bg.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Style the input field */
.username-input {
  width: 250px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

/* Style the "Fetch Repositories" button */
.button {
  background-color: yellow; 
  color: black; 
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ffd700; 
}

/* Style the repository list container */
.repository-list {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin-top: 20px;
  width: 100%;
}


/* Style individual repository items */
.repository-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 600px;
  height: 80px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  max-width: 600px; 
  
}

.repository-item:hover {
  background-color: #f0f0f0;
}

.repository-name {
  font-weight: bold;
  color: black;
}

.repository-description {
  margin-top: 5px;
  color: #555;
}

.view-repo-button {
  background-color: #3498db;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.view-repo-button:hover {
  background-color: #2980b9;
}

/* Add GitHub icon */
.github-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .input-field,
  .button,
  .repository-item {
    width: 100%;
  }
}
